<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-p0">
      <ion-row>
        <ion-col class="ion-text-end col-title" >
          Viajar
        </ion-col>
        <ion-col class="col-title-clima">
          <clima-component></clima-component>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content color="duoc-primary">
    <span id="viajar">
    <form (ngSubmit)="onQuehue()" id="list" hidden="false" [formGroup]="onDestination">
      <h2 id="form-title">A dónde vamos?</h2>
      <ion-select id="comunaDestino" formControlName="p_comuna_destino" cancelText="Cancelar" placeholder="Comuna de destino">
        <ion-select-option *ngFor="let c of comunas"  [value]="c.p_comuna">
          {{c.p_comuna}}
        </ion-select-option>
      </ion-select>
      <ion-item>
        <ion-label position="stacked">Ingrese dirección de destino</ion-label>
        <ion-input formControlName="p_direccion_destino" [clearInput]="true" placeholder="Calle falsificada #123" value=""></ion-input>
      </ion-item>
      <ion-fab id="fab-btn" vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button [disabled]="onDestination.invalid" type="submit" size="medium" color="duoc-secondary" (click)="onQuehue();onSearch()">viajar</ion-fab-button>
      </ion-fab>
    </form>
  
    <div hidden="true" id="loader">
      <div class="loader"></div>
      <h3 id="buscando1" >Buscando</h3>
      <h3 id="buscando2">conductores</h3>
      <ion-fab id="fab-btn" vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button size="medium" color="duoc-secondary" (click)="onSearch();onCancelTrip();">Cancelar</ion-fab-button>
      </ion-fab>
    </div>
  
    
    <!-- <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Oferta</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <div *ngIf="precioOferta">
            <ion-title class="ion-text center">{{precioOferta}}</ion-title>
          </div>
          <ion-button color="duoc-secondary" (click)="onAceptarOferta();">Aceptar oferta</ion-button>
          <ion-button color="duoc-secondary" (click)="onRechazarOferta();">Rechazar oferta</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal> -->
  </span>

  <span id="viajando" >
    <h6 style="text-align: center;">El conductor te esta esperando en la calle San Juan, detrás de la sede :)<br> su patente es: </h6><br>
    <div class="frame">
      <div class="number">{{this.autoDelConductor}}</div>
      <div class="state">CHILE</div>
    </div>
    <div style="overflow:hidden;max-width:100%;width:400px;height:400px;"><div id="g-mapdisplay" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=duoc+san+joaquin&destination=PH551-San+Juan+Esq.+Raquel,+San+Joaquín,+Chile&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="embed-ded-maphtml" rel="nofollow" href="https://www.bootstrapskins.com/themes" id="get-map-data">premium bootstrap themes</a><style>#g-mapdisplay img{max-height:none;max-width:none!important;background:none!important;}</style></div>
  </span>

  </ion-content>

  
