.c-header{
    background-color: #002E53;
}
.p-top{
    padding-top: 20%;
}

.m-logo{
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 10%;
}
.m-form{
    margin-left: 3%;
    margin-right: 3%;
}
.m-button{
    margin-top: 5%;
}

.hyperlink{
    text-decoration: none;
    color: #002E53;
}
.hyperlink:hover{
    color: #ffb800;
}
.hyperlink:active{
    color: #ffb800;
}
.hyperlink-txt{
    font-weight: bold;
    text-align: center;
}
ion-modal {
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    //--background: rgb(14 116 144);
    --background: #013476;
    --color: white;
  }