<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-p0">
      <ion-row>
        <ion-col class="ion-text-end col-title" >
          Viajes
        </ion-col>
        <ion-col class="col-title-clima">
          <clima-component></clima-component>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div id="viajar-conductor">
    <label id="estado-conductor" for="toggle">
      <input class="input" type="checkbox" id="toggle"/>
      <div class="toggle-wrapper" (click)="onDisponible()"><span class="selector"></span></div>
      <p class="notification centrado">Estado de conductor: <br><span class="selected"></span></p>
    </label>
    <!-- Modal -->
    <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title class="ion-text-center">Precio</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">Oferta un precio</ion-label>
            <ion-input (keypress)="numberOnlyValidation($event)" type="text" placeholder="Por ejemplo: 2000" [(ngModel)]="precio" type="number"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-button class="modal-btns" (click)="cancelar();setOpen(false)" size="default" fill="outline" color="medium">Cancelar</ion-button>
            <ion-button class="modal-btns" (click)="ofertar();setOpen(false)" [strong]="true" id="ofertar-btn" size="default" color="duoc-primary">Ofertar</ion-button>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- Carta de Solicitud iterando del listadoSolicitudes -->
    <div id="pas-disp-block">
      <h3 id="pasajeros-title" class="pasajerosdisp ion-text-center">Pasajeros disponibles:</h3>
    </div>
    <ion-list id="listaDeSolicitudes" hidden="true" >
      <ion-item *ngFor="let solicitud of listadoSolicitudes">
        <ion-row>
          <ion-card class="cartaUsuario" >
            <ion-grid [fixed]="true" class="cardGrid">
              <ion-row>
                <ion-col class="colCartaImagenUsuario" >
                    <!-- imagen del usuario -->
                    <img alt="user image" class="cartaUserImage" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-col>
                <ion-col class="ColCartaInfoUsuario">
                  <!-- info del usuario -->
                  <p class="cartaTextoTitulo">Nombre: {{solicitud.p_name}}</p>
                  <p class="cartaTexto">Comuna: {{solicitud.p_comuna_destino}}<br> Direccion: {{solicitud.p_direccion_destino}}</p>
                  <ion-button color="duoc-secondary"  expand="block" shape="round" (click)="setOpen(true);onSolicitudSelected(solicitud)" class="btoCarta">Ofertar</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
  <div id="viajando">
    <!--map embed-->
    <div style="padding-top: 30px;padding-left:20px;padding-right:20px;overflow:hidden;max-width:100%;">
      <div id="g-mapdisplay" style="height:100%; width:100%;max-width:100%;height:250px;">
        <iframe style="border-radius: 5px;height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=duoc+san+joaquin&destination=PH551-San+Juan+Esq.+Raquel,+San+Joaquín,+Chile&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
        </iframe>
      </div>
      <style>#g-mapdisplay img{max-height:none;max-width:none!important;background:none!important;}</style>
    </div>
    <p class="texto-patente">El pasajero te esta esperando en la calle San Juan, detrás de la sede :)</p>
    <h3 id="txt-pas" class="texto-pasajero">su nombre es: {{this.nombre}}</h3>
    <ion-button id="end-btn" color="duoc-secondary" (click)="onLoadTrip()" size="default">Finalizar viaje</ion-button>
  </div>
</ion-content>