<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-p0">
      <ion-row>
        <ion-col class="ion-text-end col-title" >
          Viajes
        </ion-col>
        <ion-col class="col-title-clima">
          <clima-component></clima-component>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span id="viajar-conductor">

<label for="toggle">
  <input class="input" type="checkbox" id="toggle"/>
  <div class="toggle-wrapper" style="margin-top: 30px;" (click)="onDisponible()"><span class="selector"></span></div>
  <p class="notification centrado">Estado de conductor: <span class="selected"></span></p>
</label>

<hr class="rounded">

<h5 class="pasajerosdisp">Pasajeros disponibles:</h5>

<!-- Modal -->
<ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancelar();setOpen(false)">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Precio del viaje</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="ofertar();setOpen(false)" [strong]="true">Ofertar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="stacked">Oferta un precio</ion-label>
        <ion-input type="text" placeholder="Por ejemplo: 2000" [(ngModel)]="precio" type="number"></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>


<!-- Carta de Solicitud iterando del listadoSolicitudes -->
<ion-list id="listaDeSolicitudes" hidden="true" >
  <ion-item *ngFor="let solicitud of listadoSolicitudes">
    <ion-row>
      <ion-card class="cartaUsuario" >
        <ion-grid [fixed]="true" class="cardGrid">
          <ion-row>
            <ion-col class="colCartaImagenUsuario" >
                <!-- imagen del usuario -->
                <img alt="user image" class="cartaUserImage" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-col>
            <ion-col class="ColCartaInfoUsuario">
              <!-- info del usuario -->
              <p class="cartaTextoTitulo">Nombre: {{solicitud.p_name}}</p>
              <p class="cartaTexto">Comuna: {{solicitud.p_comuna_destino}}<br> Direccion: {{solicitud.p_direccion_destino}}</p>
              <ion-button color="duoc-secondary"  expand="block" shape="round" (click)="setOpen(true);onSolicitudSelected(solicitud)" class="btoCarta">Ofertar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-row>
  </ion-item>
</ion-list>
</span>

<span id="viajando" >
  <h6 style="text-align: center;">Espera al pasajero en la calle San Juan, detrás de la sede :) <br> su nombre es: {{this.nombre}}</h6>
  <div style="overflow:hidden;max-width:100%;width:400px;height:400px;"><div id="g-mapdisplay" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=duoc+san+joaquin&destination=PH551-San+Juan+Esq.+Raquel,+San+Joaquín,+Chile&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="embed-ded-maphtml" rel="nofollow" href="https://www.bootstrapskins.com/themes" id="get-map-data">premium bootstrap themes</a><style>#g-mapdisplay img{max-height:none;max-width:none!important;background:none!important;}</style></div>
</span>

</ion-content>