# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.angular
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www

#ignore django
djangoBackend/backendMovil/*.log
djangoBackend/backendMovil/*.pot
djangoBackend/backendMovil/*.pyc
djangoBackend/backendMovil/core/__pycache__
djangoBackend/backendMovil/__pycache__
djangoBackend/backendMovil/db.sqlite3
djangoBackend/backendMovil/media
djangoBackend/backendMovil/*.bak
djangoBackend/backendMovil/pip-log.txt
djangoBackend/backendMovil/pip-delete-this-directory.txt
djangoBackend/backendMovil/.env
djangoBackend/backendMovil/.venv
djangoBackend/backendMovil/env/
djangoBackend/backendMovil/venv/
djangoBackend/backendMovil/ENV/
djangoBackend/backendMovil/env.bak/
djangoBackend/backendMovil/venv.bak/
djangoBackend/backendMovil/.vscode/*
djangoBackend/backendMovil/.vscode/!.vscode/settings.json
djangoBackend/backendMovil/.vscode/!.vscode/tasks.json
djangoBackend/backendMovil/.vscode/!.vscode/launch.json
djangoBackend/backendMovil/.vscode/!.vscode/extensions.json 
djangoBackend/backendMovil/.history
djangoBackend/backendMovil/backendMovil/__pycache__/__init__.cpython-310.pyc
djangoBackend/backendMovil/backendMovil/__pycache__/__init__.cpython-310.pyc
djangoBackend/backendMovil/backendMovil/__pycache__/settings.cpython-310.pyc
djangoBackend/backendMovil/backendMovil/__pycache__/urls.cpython-310.pyc
djangoBackend/backendMovil/backendMovil/__pycache__/wsgi.cpython-310.pyc
djangoBackend/backendMovil/core/__pycache__/__init__.cpython-310.pyc
djangoBackend/backendMovil/backendMovil/__pycache__/wsgi.cpython-310.pyc
djangoBackend/backendMovil/core/__pycache__/__init__.cpython-310.pyc
djangoBackend/backendMovil/core/__pycache__/admin.cpython-310.pyc
djangoBackend/backendMovil/core/__pycache__/apps.cpython-310.pyc
djangoBackend/backendMovil/core/__pycache__/models.cpython-310.pyc
djangoBackend/backendMovil/core/__pycache__/urls.cpython-310.pyc
djangoBackend/backendMovil/core/__pycache__/views.cpython-310.pyc
djangoBackend/backendMovil/core/migrations/__pycache__/__init__.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/__init__.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/admin.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/apps.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/models.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/serializers.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/urls.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/views.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/__init__.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0001_initial.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0003_remove_conductor_c_trip_remove_pasajero_p_trip_and_more.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0002_remove_auto_a_conductor.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0005_alter_viaje_v_state.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0006_alter_viaje_v_com_dest_alter_viaje_v_dir_dest.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0007_conductor_c_password_pasajero_p_password.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0008_auto_a_conductor.cpython-310.pyc
djangoBackend/backendMovil/backendMovil/__pycache__/wsgi.cpython-310.pyc
djangoBackend/backendMovil/core/__pycache__/__init__.cpython-310.pyc
djangoBackend/backendMovil/core/__pycache__/admin.cpython-310.pyc
djangoBackend/backendMovil/core/__pycache__/apps.cpython-310.pyc
djangoBackend/backendMovil/core/__pycache__/models.cpython-310.pyc
djangoBackend/backendMovil/core/__pycache__/urls.cpython-310.pyc
djangoBackend/backendMovil/core/__pycache__/views.cpython-310.pyc
djangoBackend/backendMovil/core/migrations/__pycache__/__init__.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/__init__.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/admin.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/apps.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/models.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/serializers.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/urls.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/__pycache__/views.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/__init__.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0001_initial.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0002_remove_auto_a_conductor.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0003_remove_conductor_c_trip_remove_pasajero_p_trip_and_more.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0004_alter_conductor_c_email_alter_pasajero_p_email_and_more.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0005_alter_viaje_v_state.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0006_alter_viaje_v_com_dest_alter_viaje_v_dir_dest.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0007_conductor_c_password_pasajero_p_password.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0008_auto_a_conductor.cpython-310.pyc
djangoBackend/backendMovil/backendMovil/__pycache__/urls.cpython-310.pyc
djangoBackend/backendMovil/backendMovil/__pycache__/settings.cpython-310.pyc
djangoBackend/backendMovil/backendMovil/__pycache__/__init__.cpython-310.pyc
djangoBackend/backendMovil/db.sqlite3
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0009_alter_auto_a_conductor.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0010_alter_viaje_v_auto_id_alter_viaje_v_conductor_id_and_more.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0011_alter_conductor_c_car.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0012_remove_auto_a_conductor.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0013_auto_a_conductor.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0014_alter_auto_a_conductor.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0015_conductor_c_trip_pasajero_p_trip.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0016_alter_pasajero_p_trip.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0017_remove_pasajero_p_trip.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0018_pasajero_p_trip.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0019_remove_auto_a_conductor.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0020_remove_conductor_c_trip.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0021_remove_pasajero_p_trip.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0022_alter_pasajero_p_state.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0023_alter_viaje_v_state.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0024_alter_conductor_c_car.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0025_alter_conductor_c_car.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0026_auto_a_conductor.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0027_alter_viaje_v_viaje_id.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0028_alter_viaje_v_viaje_id.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0029_remove_auto_a_conductor_alter_conductor_c_car_and_more.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0030_alter_conductor_c_image_alter_conductor_c_lastname_and_more.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0031_alter_pasajero_p_image.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0032_alter_viaje_v_viaje_id_solicitud.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0033_alter_viaje_v_viaje_id.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0034_alter_solicitud_options_and_more.cpython-310.pyc
djangoBackend/backendMovil/movilAPI/migrations/__pycache__/0035_alter_solicitud_precio_oferta.cpython-310.pyc
