# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.angular
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www

#ignore django
djangoBackend/backendMovil/*.log
djangoBackend/backendMovil/*.pot
djangoBackend/backendMovil/*.pyc
djangoBackend/backendMovil/core/__pycache__
djangoBackend/backendMovil/__pycache__
djangoBackend/backendMovil/db.sqlite3
djangoBackend/backendMovil/media
djangoBackend/backendMovil/*.bak
djangoBackend/backendMovil/pip-log.txt
djangoBackend/backendMovil/pip-delete-this-directory.txt
djangoBackend/backendMovil/.env
djangoBackend/backendMovil/.venv
djangoBackend/backendMovil/env/
djangoBackend/backendMovil/venv/
djangoBackend/backendMovil/ENV/
djangoBackend/backendMovil/env.bak/
djangoBackend/backendMovil/venv.bak/
djangoBackend/backendMovil/.vscode/*
djangoBackend/backendMovil/.vscode/!.vscode/settings.json
djangoBackend/backendMovil/.vscode/!.vscode/tasks.json
djangoBackend/backendMovil/.vscode/!.vscode/launch.json
djangoBackend/backendMovil/.vscode/!.vscode/extensions.json 
djangoBackend/backendMovil/.history