<ion-header [translucent]="true">
  <ion-toolbar color="duoc-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <viaje-component></viaje-component>
  <!------------------------------------>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="pencil-sharp"></ion-icon>
      <!-- PARA GUARDAR POST ACTIVAR EL EDIT <ion-icon name="save"></ion-icon>-->
    </ion-fab-button>
  </ion-fab>
  <!------------------------------------->
  <!--header bloque color + profile-img-->
  <div class="profile-header">
    <div class="profile-header"></div>
  </div>
  <div class="flex">
    <div class="border-yellow">
      <div class="border-white">
        <div class="img-box">
          <img src="../../../assets/icon/avatar_placeholder3.svg" alt="foto-perfil">
        </div>
      </div>
    </div>
  </div>
  <!--PROFILE DATA-->
    <form id="profile-form">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
              <ion-item >
                <ion-input type="email" placeholder="usuario@tucorreo.cl"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="Nombre" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="Apellido"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="password" placeholder="Contraseña" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="+56"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="Img URL/uploadBtn/photoBtn"></ion-input>
              </ion-item>

              <!--
                 <form [formGroup]="signup" (ngSubmit)="onSubmit()" class="m-form">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3 class="ion-text-center"><strong>Registro</strong></h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input formControlName="p_email"  type="email" placeholder="usuario@tucorreo.cl" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="p_name" type="text" placeholder="Nombre" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="p_lastname" type="text" placeholder="Apellido"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="p_password" type="password" placeholder="Contraseña" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="p_password_confirm" type="password" placeholder="Confirmar contraseña" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="p_pnumber" type="text" placeholder="+56"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="p_image" type="text" placeholder="Img"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button class="m-button" color="duoc-secondary" size="large" type="submit" expand="block">Registrarme</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="div-hyperlink">
            <div class="hyperlink-txt"><a class="hyperlink" [routerLink]="['/login']">Volver al login</a></div>
            <div class="hyperlink-txt"><a class="hyperlink" [routerLink]="['/login']">Quiero ser conductor</a></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
              -->
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
</ion-content>
