.avatar-center{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
}

.img-box{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.border-white{
    border: 7px solid white;
    border-radius: 50%;
    width: fit-content;
}

.border-yellow{
    border: 10px solid #FFB800;
    border-radius: 50%;
    width: fit-content;
}

.flex{
    display: flex;
    justify-content: center;
    margin-top: -30%;
}

.profile-header{
    background-color: #002E53;
    height: 18%;
}
#profile-form{
    margin-top: -20%;
    padding-top: 20%;
}
.l-btn{
    margin-top: 5%;
    padding-left: 20%;
    
}
.col-title{
    margin-left: 20px;
}

ion-modal ion-toolbar {
    --background: #002E53;
    --color: white;
}

ion-item{
    align-items: initial;
}
#actFoto{
    padding-right: 50px;
}

#edit-fab{
    padding-left: 12%;
}
ion-fab-button{
    border-style: solid;
    border-width: 5px;
    border-color: #002E53;
    border-radius: 50%;
}