.color{
    background-color: green;
}
#line{
    display: inline;
}

.cli-comp-p{
	margin-bottom: 10px;
	margin-left: 50px;
	margin-top: 15px;
}

.cli-comp-img{
	max-width: 40px;
	max-height: 25px;
	margin-top: 5px;
}