.color{
    background-color: green;
}
#line{
    display: inline;
}

.cli-comp-p{
	margin-bottom: 10px;
	margin-left: 50px;
	margin-top: 15px;
}

.cli-comp-img{
	//valores antiguos
	//max-width: 35px;
	//max-height: 38px;
	max-width: 40px;
	max-height: 40px;
	margin-top: 5px;
}