
<!-- TARGETA COMPLETA <ion-card *ngIf="weatherTemp,weatherDescription" mode="md">

  <ion-item lines="none">
    <p>El clima hoy</p>
    <ion-label slot="end">{{todayDate | date: "EEEE dd MMM"}}</ion-label>
  </ion-item>

  <ion-item lines="none" >
    <span>
      {{weatherDescription.description}} {{(weatherTemp.temp).toFixed(0)}}°
    </span>
    <img slot="end" src="http://openweathermap.org/img/wn/{{weatherDescription.icon}}@2x.png" style="max-width: 60px;">
  </ion-item>

</ion-card> -->

<span *ngIf="weatherTemp,weatherDescription">
      <ion-row>
        <p class="cli-comp-p">
          {{(weatherTemp.temp).toFixed(0)}}°
        </p>
        <img src="http://openweathermap.org/img/wn/{{weatherDescription.icon}}@2x.png" class="cli-comp-img">
      </ion-row>
    </span>





<!-- <ion-card *ngIf="weatherTemp,weatherDescription">
  <ion-col>
    <span>{{(weatherTemp.temp).toFixed(0)}}°</span>
    <img src="http://openweathermap.org/img/wn/{{weatherDescription.icon}}@2x.png" style="max-width: 60px;">
  </ion-col>
</ion-card> -->

