<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <viaje-component></viaje-component>
  <a href="viajar"><ion-img src="../../../assets/icon/viajar2.svg" id="homeImage"></ion-img></a><!--Bloque1-->
  <div class="d-inline">
    <a href="faq"><img src="../../../assets/icon/faq.svg" id="b-2" class="home-images"></a><!--Bloque2-->
    <a href="perfil"><img src="../../../assets/icon/profile.svg" id="b-3" class="home-images"></a><!--Bloque3-->
  </div>
</ion-content>
