.c-header{
    background-color: #002E53;
}
.p-top{
    padding-top: 20%;
}

.m-logo{
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 10%;
}
.m-form{
    margin-left: 3%;
    margin-right: 3%;
}
.m-button{
    margin-top: 5%;
}

.hyperlink{
    text-decoration: none;
    color: #002E53;
}
.hyperlink:hover{
    color: #ffb800;
}
.hyperlink:active{
    color: #ffb800;
}
.hyperlink-txt{
    font-weight: bold;
    text-align: center;
}