#b-1{
    margin-left: 5%;
    margin-right: 15%;
    width: 40%;
    height: 30%;
    background-color: #0093d1;
}
#b-2{
    margin-left: 5%;
    margin-right: 15%;
    width: 40%;
    height: 30%;
    background-color: #ffabdc;
}

#b-3{
    margin-left: 5%;
    margin-right: 15%;
    width: 40%;
    height: 30%;
    background-color: #fe8a7f;
}
.home-images{
    margin-top: 5%;
    background-color: #eeeeee;
    border-radius: 5%;
}
.d-block{
    display: block;
}

