<ion-header class="p-top c-header" [translucent]="true">
  <img class="m-logo" src="../../../assets/duocLogo/duoc.png" alt="">
</ion-header>
<ion-content color="light" padding >
  <form class="m-form" #form="ngForm" (ngSubmit)="form.reset();">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3><strong>Conductor</strong></h3>
          </div>
          <div padding>
            <ion-item lines="none">
              <ion-input  placeholder="Usuario"
                          name="username" 
                          type="username" 
                          [(ngModel)]="user.nombre" 
                          required>
              </ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-input
                          name="password" 
                          [type]="isTextFieldType ? 'text' : 'password'"
                          placeholder="Contraseña"
                          [(ngModel)]="user.password"
                          required
                          pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{4,8}$">
              </ion-input>
              <div id="eyeToggle" (click)="togglePasswordFieldType()">
                <ion-icon [name]="isTextFieldType ? 'eye-off' : 'eye-outline'">
                </ion-icon>
              </div>  
            </ion-item>
          </div>
          <div padding>
            <ion-button class="m-button" color="duoc-secondary" size="large" type="submit" expand="block" (click)="login()">Ingresar</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div id="conductor"><a class="hyperlink" [routerLink]="['/login']">Soy pasajero</a></div>
          <div class="div-hyperlink">
            <div class="hyperlink-txt"><a class="hyperlink" [routerLink]="['/faq']">Olvidé mi contraseña</a></div>
            <div class="hyperlink-txt"><a class="hyperlink" [routerLink]="['/faq']">Olvidé mi cuenta</a></div>
            <div class="hyperlink-txt"><a class="hyperlink" [routerLink]="['/registro']">Registrate aquí!</a></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>