<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay"> <!--swipeGesture="false" desactiva la funcion de deslizar el dedo por la pantalla para abrir SideMenu-->
      <ion-content *ngIf="currentUser">
        <ion-list id="inbox-list">
          <ion-item lines="none">
            <ion-avatar id="sidebar-image" slot="start">
              <img alt="Silhouette of a person" src="{{currentUser.p_image}}" />
            </ion-avatar>
            <ion-label>{{currentUser.p_name}}</ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!------------------------>
        <h3 class="ion-text-center">Links de interes</h3>
        <ion-menu-toggle auto-hide="false" *ngFor="let label of labels; let i = index">
          <ion-item routerDirection="root" [routerLink]="[label.url]" lines="none" detail="false">
            <ion-icon slot="start" [ios]="label.icon + '-outline'" [md]="label.icon + '-sharp'"></ion-icon>
            <ion-label>{{ label.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <button id="logout-btn" (click)="onLogout();">
          Cerrar sesión
        </button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
