<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Te llevo APP</title>
	<meta name="author" content="David Grzyb">
    <meta name="description" content="">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
    <header class="max-w-lg mx-auto">
        <h1>
            <a href="/" class="pl-40 text-4xl font-bold text-white text-center">Te llevoAPP API</a>
        </h1>
    </header>
    <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <section class="mt-10">
            <form class="flex flex-col" method="POST">
                {% csrf_token %}
                <button class="flex flex-col api-btn mb-6 pb-4 pt-4 bg-purple-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button"><a href="api/conductor">Conductores</a></button>
                <button class="flex flex-col api-btn mb-6 pb-4 pt-4 bg-purple-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button"><a href="api/pasajero">Pasajeros</a></button>
                <button class="flex flex-col api-btn mb-6 pb-4 pt-4 bg-purple-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button"><a href="api/auto">Autos</a></button>
                <button class="flex flex-col api-btn mb-6 pb-4 pt-4 bg-purple-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button"><a href="api/viaje">Viajes</a></button>
                <button id="adm-btn" class="flex flex-col mb-6 pb-4 pt-4 bg-red-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button"><a href="admin">Admin</a></button>
            </form>
        </section>
    </main>
</body>
<style>
    .body-bg {
        background-color: #002e53;
    }
    .api-btn{
        background-color: #002e53;
    }
    .api-btn:hover{
        background-color: #00597e;
    }
    #adm-btn:hover{
        background-color: #b20008;
    }
</style>
</html>