<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-p0">
      <ion-row>
        <ion-col class="ion-text-end col-title" >
          Conversor
        </ion-col>
        <ion-col class="col-title-clima">
          <clima-component></clima-component>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <viaje-component></viaje-component>
  <div class="contents">

    <ion-item>
      <ion-label>Pesos (CLP)</ion-label>
      <ion-input type="number" class="value-input" [(ngModel)]="toValue" placeholder="Entrada" (keyup)="convertDolarTwo()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Dolar (USD)</ion-label>
      <ion-input type="number" class="value-input" [(ngModel)]="fromValue" placeholder="Resultado" (keyup)="convertDolarOne()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Pesos (CLP)</ion-label>
      <ion-input type="number" class="value-input" [(ngModel)]="toValue2" placeholder="Entrada" (keyup)="convertYuro2()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Euro (EUR)</ion-label>
      <ion-input type="number" class="value-input" [(ngModel)]="fromValue2" placeholder="Resultado" (keyup)="convertYuro1()"></ion-input>
    </ion-item>

    <p>Dolar = {{doular}}</p>
    <p>Yuro = {{yuro}}</p>
  </div>
</ion-content>