<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Coversor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <viaje-component></viaje-component>
  <div id="container">
    <img src="https://img.icons8.com/color/96/000000/hammer.png"/>
    <p>Página en contrucción.</p>
    <p>Volver a <a target="_blank" rel="noopener noreferrer" routerLink="inicio">Inicio</a></p>
  </div>
</ion-content>
