<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-p0">
      <ion-row>
        <ion-col class="ion-text-end col-title" >
          Conversor
        </ion-col>
        <ion-col class="col-title-clima">
          <clima-component></clima-component>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <viaje-component></viaje-component>
  <div class="contents">
      <h3 class="txt-center">Peso chileno a dolar</h3>
      <ion-item color="duoc-primary" id="clp-usd1">
        <ion-label>Pesos (CLP)</ion-label>
        <ion-input type="number" class="value-input custom" [(ngModel)]="toValue" placeholder="Entrada" (keyup)="convertDolarTwo()" (keypress)="numberOnlyValidation($event)"></ion-input>
      </ion-item>
      <ion-item color="duoc-primary" id="clp-usd2">
        <ion-label>Dolar (USD)</ion-label>
        <ion-input type="number" class="value-input custom" [(ngModel)]="fromValue" placeholder="Resultado" (keyup)="convertDolarOne()" (keypress)="numberOnlyValidation($event)"></ion-input>
      </ion-item>
      <h3 class="txt-center">Peso chileno a euro</h3>
      <ion-item id="clp-usd3" color="duoc-primary">
        <ion-label>Pesos (CLP)</ion-label>
        <ion-input type="number" class="value-input custom" [(ngModel)]="toValue2" placeholder="Entrada" (keyup)="convertYuro2()" (keypress)="numberOnlyValidation($event)"></ion-input>
      </ion-item>
      <ion-item id="clp-usd4" color="duoc-primary">
        <ion-label>Euro (EUR)</ion-label>
        <ion-input type="number" class="value-input custom" [(ngModel)]="fromValue2" placeholder="Resultado" (keyup)="convertYuro1()" (keypress)="numberOnlyValidation($event)"></ion-input>
      </ion-item>
      <section id="monedas">
        <p class="txt-center">Dolar = ${{doular}} Pesos</p>
        <p class="txt-center">Euro = ${{yuro}} Pesos</p>
      </section>
  </div>
</ion-content>