#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
.value-input {
  font-weight: 300;
  margin: 5% 2.5%;
  width: 100%;
  padding: 0 3%;
  color: #222;
  border-radius: 7px;
  border: solid 1px rgb(189, 189, 189);
  background-color: #ffffff;
}
.selectors {
  border-right: 1px solid #cbcbcb;
}
.txt-center{
  text-align: center;
}

#monedas{
  margin-top: 100px;
  padding-top: 10px;
  font-weight: 700;
  color: white;
  height: 300px;
  background-color: #002e53;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#clp-usd1{
margin-left: 10px;
margin-right: 10px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
#clp-usd2{
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#clp-usd3{
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#clp-usd4{
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}