.c-header{
    background-color: #002E53;
}
.p-top{
    padding-top: 20%;
}

.m-logo{
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 15%;
}
.m-form{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.div-hyperlink{
    padding-top: 20%;
}
.hyperlink{
    text-decoration: none;
    color: #002E53;
}

.hyperlink:hover{
    color: #ffb800;
}

.hyperlink:active{
    color: #ffb800;
}

.m-button{
    margin-top: 10%;
}
.hyperlink-txt{
    font-weight: light;
    text-align: center;
    padding-top: 3%;
}

#conductor{
    text-align: center;
    font-weight: bold;
    padding-top: 0%;
    font-size: 0.9em;
}
#eyeToggle{
color: #002E53;
}