.c-header{
    background-color: #002E53;
}
.p-top{
    padding-top: 20%;
}

.m-logo{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 15%;
}
.m-form{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}
#div-forgot-pass{
    margin-top: 20%;
    padding-left: 20%;
}
.div-hyperlink{
    padding-left: 30%;
}
.hyperlink{
    text-decoration: none;
}
.m-button{
    margin-top: 10%;
}

